.card {
    padding: 20px 40px;
    border-radius: 3px;
    display: flex;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.card--title {
    margin-bottom: 5px;
    font-size: 32px;
}

.card--image {
    margin-right: 20px;
    object-fit: contain;
}